<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-dark mt-0">Professional Background</h2>
                <hr class="divider divider"/>
                <p class="text-dark-75 mb-4">My journey started with a Diploma in Accounting at Rosebank College. After finishing, I grew bored of the course, prompting me to seek something more exciting. I was introduced to IT and registered at Richfield Graduate Institute of Technology for a BSc in Information Technology in 2021. Due to COVID-19 restrictions, my studies were mostly remote. In 2023, I completed my degree. During a group project in my final year, I realized I could code to pass exams but lacked experience in building practical projects like websites and apps.

                    Fast forward to 2024, being unemployed and applying for jobs, I was introduced to Udemy. My first course was "100 Days of Code" by Angela Yu, which helped me build projects daily and develop essential software engineering skills. I discovered a passion for Data Science and am now taking a Data Science course on Coursera. Additionally, I am pursuing a Full Stack Web Development course by Angela Yu on Udemy, having finished the Python course. In college, Java was my favorite language, but it was replaced by Python when I realized Python's versatility and better syntax.
                    
                    I am now looking for a learnership or internship that will allow me to further develop my skills and contribute to meaningful projects in the tech industry.</p>
                <br>
                <h2 class="text-dark mt-0">Beyond the Screen</h2>
                <hr class="divider divider"/>
                <p class="text-dark-75 mb-5">
                    Beyond coding, I'm passionate about fitness, maintaining a disciplined routine that includes running and weightlifting to balance long hours in front of a screen. This commitment reflects my determination, consistency, goal-setting skills, and a mindset geared towards achievement. I find joy in reading, especially fantasy and popular science genres, and I enjoy exploring various literary realms. Cooking, leisurely walks, singing, and traveling are activities I cherish.

I approach life with optimism, eagerly tackling new challenges. Follow along as I blend my accounting background with coding and adventurous pursuits!</p>

                <p class="text-dark-75 mb-4">I approach life with a sunny disposition and embrace new challenges
                    fearlessly.
                    Join me on this exciting journey where law met code, and adventure embraced passion!</p>
                <br>
                <button class="btn btn-primary btn-xl" onclick="window.open('../static/assets/my cv.pdf');">
                    Download RESUME
                </button>
                
            </div>
        </div>
    </div>
</section>